@import 'bootstrap/bootstrap';
@import 'mdb';

input{
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  color: white;
  cursor: pointer;
  @extend .mt-5;
  @include responsive-font-size(3rem);
  &:focus{
    outline: none;
  }
}