<ul>
    <li *ngFor="let time of schedule.times; index as index">
        <div class="times">
            <app-time-badge time="{{time.start.substr(0, 5)}}"></app-time-badge>
            <span class="dash-divider"></span>
            <app-time-badge time="{{time.end.substr(0, 5)}}"></app-time-badge>
        </div>
        <div class="icons">
            <button mdbBtn type="button" color="pink" mdbWavesEffect>
                <mdb-icon far icon="sticky-note"></mdb-icon>
            </button>
            <button mdbBtn type="button" color="pink" mdbWavesEffect (click)="deleteTime(time.id)">
                <mdb-icon far icon="trash-alt"></mdb-icon>
            </button>
        </div>
    </li>
</ul>
<app-modal #dialog></app-modal>