@import 'variables';
@import 'mdb';

nav{
    @extend .z-depth-1;
    text-align: center;
    color: white;
    background-color: $dark-color;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: fixed;
    bottom: 0;
}