<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <input [(ngModel)]="time" readonly [ngxTimepicker]="timePicker" [format]="24" (ngModelChange)="setTimeService()">
      <ngx-material-timepicker #timePicker [theme]="timepickerDarkTheme" (timeSet)="stopInterval()"></ngx-material-timepicker>
      <button mdbBtn mdbWavesEffect *ngIf="!interval" size="sm" type="button" color="pink" (click)="startInterval();">
        <mdb-icon far icon="clock"></mdb-icon>
      </button>
    </div>
  </div>
</div>